<div id="pics_container">
  <% @users.each do |user| %>
    <div class="pic_container">
      <%= image_tag user.pic.url(:normal) %>
      <br />
      <%= link_to 'like', '#'%>
    </div>
  <% end %>
</div>